<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浪笔头注册</title>
    <style>
        *{padding: 0;margin: 0;}
        .prompt{
            font-size: 18px;
            color: #333;
            line-height: 50px;
        }
        .strong{
            display: block;
            color: red;
            font-size: 32px;
        }
    </style>
</head>
<body>
    <p class="prompt">欢迎注册浪笔头APP，你的验证码为：</p>
    <strong class="strong">{{}}</strong>
    <p class="prompt">不要让别人给知道了哦~~~</p>
</body>
</html>